body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
      padding-bottom:10px;
  }
  
  table.data {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left:auto; 
    margin-right:auto;
    margin-top:10px;
  }
  
  table.data td, table.data th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table.data tr:nth-child(even){background-color: #f2f2f2;}
  
  table.data tr:hover {background-color: #ddd;}
  
  table.data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
  .form-control {
      margin-bottom:12px;
  }