{% extends "base.html" %}
{% block content %}
    <div class="Container">
        <form class="form-group" method="post" action=""
                style="margin:auto;max-width:600px">
            <br>
            <h3> Sales Order ID :  </h3>
            {{ form.sales_order(class_ = 'form-control') }}
            <br>
            <h3> Channel Order ID :  </h3>
            {{ form.channel_order(class_ = 'form-control') }}
            <br>
            <h3> Shipping Cost :  </h3>
            {{ form.shipping_cost(class_ = 'form-control') }}
            <br>
            <h3> Customer Name :  </h3>
            {{ form.customer_name(class_ = 'form-control') }}
            <br>
            <h3> Shipping Address :  </h3>
            {{ form.shipping_address(class_ = 'form-control') }}
            <br>
            <h3> Shipping Phone :  </h3>
            {{ form.shipping_phone(class_ = 'form-control') }}
            <br>
            <h3> Courier Name :  </h3>
            {{ form.courier_name(class_ = 'form-control') }}
            <br>
            <h3> Courier Phone :  </h3>
            {{ form.courier_phone(class_ = 'form-control') }}
            <br>
            <button type="submit" class="btn btn-primary"> Submit </button>
        </form>
    </div>
{% endblock %}
